<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.LoginMapper"> 
    
    <select id="isValid" resultType="int" parameterType="map">
        SELECT COUNT(*) FROM USERTBL WHERE userid = #{id} AND pw = #{pw}
    </select>

    <select id="getUser" resultType="UserDTO">
        SELECT * FROM USERTBL WHERE userid = #{id}
    </select>

    <insert id="register" parameterType="map">
        Insert into USERTBL (USERID, NICKNAME, SORT, SECTION, PROFILEURL)
        values (#{user_kakao}, #{nickname}, '02', '02', #{profile_image})
    </insert>

    <select id="isMember" resultType="int">
        SELECT COUNT(*) FROM USERTBL WHERE userid = #{user_kakao}
    </select>
 
</mapper>