<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.MapMapper"> 
    <select id="getAllMapInfo" resultType="MapDTO">
        SELECT * FROM contentInfoTbl
    </select>

    <select id="getAllMapInfoByCategory" parameterType="String" resultType="MapDTO">
        <choose>
            <when test="#{category} == '카페'">
                SELECT * FROM contentInfoTbl WHERE cat3='A05020900'
            </when>
            <when test="#{category} == '음식점'">
                SELECT * FROM contentInfoTbl WHERE cat2='A0502'
            </when>
            <when test="#{category} == '주변 여행지'">
                SELECT * FROM contentInfoTbl WHERE contenttypeid='12'
            </when>
            <when test="#{category} == '숙소'">
                SELECT * FROM contentInfoTbl WHERE contenttypeid='32'
            </when>
            <otherwise>
                SELECT * FROM contentInfoTbl
            </otherwise>
        </choose>
    </select>
    
    <select id="getMapInfoByTitleAndImage" parameterType="Map" resultType="MapDTO">
        SELECT * FROM contentInfoTbl WHERE title = #{title} AND firstimage = #{firstimage}
    </select>
    
 
</mapper>