<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.MyReviewMapper"> 
    <!-- 해당게시물 나의 리뷰 목록 전체 조회 -->
	<select id="selectMyReview" resultType="MyReviewDTO" parameterType="map">
	    SELECT r.reviewcode, r.userid, r.content, TO_CHAR(r.writeday, 'yyyy.mm.dd.') AS writeday,
	           r.contentid, r.parentcode, c.title, c.contenttypeid, c.cat2
	    FROM reviewtbl r
	    JOIN contentinfotbl c ON r.contentid = c.contentid
	    WHERE r.userid = #{userid}
	    <if test="parentcode == 0">
	        AND r.parentcode = 0
	    </if>
	    <if test="parentcode != 0">
	        AND r.parentcode != 0
	    </if>
	    ORDER BY r.reviewcode DESC
	</select>
	
	<!-- 리뷰 삭제 -->
	<delete id="deleteReviews" parameterType="int">
	    DELETE FROM reviewtbl
	    WHERE reviewcode = #{reviewcode}
	</delete>
    
 
</mapper>